.container{
    display: flex;
    height: 100vh;
    padding: 20px;
    background: #223535;
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chart-container{
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background: #2b2b2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}


h2{
    text-align: center;
    margin-bottom: 20px;
    color: #d8ac4d;
}


p{
    text-align: center;
    color: #ddd;
    font-size: 1.1rem;
    margin-top: 20px;
}


.radar-chart{
    position: relative;
    height: 100%;
    width: 100%;
}