.login-form {
  background: #223535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  color: #ddd;
  margin: auto;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.8em;
  padding: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 0.9em;
  line-height: 2;

}

input[id=email]:invalid{
  color: rgba(255, 255, 255, 0.349);
  border: 1px solid rgba(255, 0, 0, 0.486);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.486);
  transform: scale(1.03);
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: #ddd;
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #ddd;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin: 20px auto 10px auto;
  border: none;
  border-radius: 4px;
  background-color: #797a2c;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
  background-color: #d8ac4d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.error-message{
  color: #d8ac4d;
  font-size: 0.9em;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.error-message.show{
  opacity: 1;
  transform: translateY(0px);
}