.registrar-recepcionista {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding:  20px 10px;
    font-family: Arial, sans-serif;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(187, 186, 186, 0.2);
}

header h2 {
    text-align: center;
    color: #d8ac4d;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #3a3a3a;
    color: #ddd;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #96581f;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
    background-color: #d8ac4d;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.error-message {
    margin:5px 0;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: #d8ac4d;
    font-size: 0.9em;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.error-message.show {
    opacity: 1;
    transform: translateY(0); 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* En caso el navegador sea Firefox*/
input[type="number"] {
    -moz-appearance: textfield; 
}